* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #C0D8C0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gill Sans MT', 'GillSans MT', 'Gill Sans', GillSans, Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  /* color: black; */
}

label {
  display: block;
  margin-bottom: 0.25em;
  text-align: left;
  font-family: 'Gill Sans MT', 'GillSans MT', 'Gill Sans', GillSans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight:700;
}

input, select, textarea {
  display: block;
  color: black;
  width: 50%;
  margin-left: 5px;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;

}

.ItemInput{
  width: 100%;
  margin: 10px;
  padding: 10px;
}

button {
  width: 25%;
  background: #C0D8C0;
  color: #282c34;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  margin: 0.5em auto 1.5em;
  padding: 0.75em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .button-container{
  display: flex;
} */
.DeleteButton{
  background-color: #DD4A48;
  width: 20%;
  margin: 10px;
}


.InvoiceGenerator{
  box-sizing: border-box;
  /* width: 100%; */
  height: 100%;
  padding: 20px;
  margin: 50px;

  background-color: #FFFBEB;
  border-radius: 10px;
  
  /* box-shadow: #282c34 */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 


.ItemListWrapper{
  padding: 10px;
  background-color: #F5EEDC;
  /* width: 45%; */
  margin: 10px;
  border-radius: 10px;
  /* vertical-align: top;  */
}

.ItemWrapper{
  display: flex;
}

.Details-wrapper{
  display: inline-block;
  /* background-color: #FFFBEB; */
  padding: 10px;
  background-color: #F5EEDC;
  width: 50%;
  margin: 10px;
  vertical-align: top;
  border-radius: 10px;
}


.TotalWrapper{
  padding: 10px;
  background-color: #F5EEDC;
  width: 45%;
  margin: 10px;
  border-radius: 10px;
}
.InvoiceDetailsWrapper{
  padding: 10px;
  background-color: #F5EEDC;
  border-radius: 10px;
  /* width: 45%; */
  margin: 10px;
  margin-top: 30px;
}
.Details-container{
  width: 100%;
  display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.InvoiceHeader{
  /* width: 100%; */
  justify-content: flex-start;
  display: flex;
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'DM Serif Display', serif;
  font-size: x-large;
}

.UploadSignSectionWrapper{
  padding: 10px;
  background-color: #F5EEDC;
  border-radius: 10px;
  width: 45%;
  margin: 10px;
}

.TotalContainer{
  width: 100%;
  display: flex;
}

.Total{
  margin: 5px;
}

hr{
  margin: 5px;
}